.vscode/
node_modules/
*.log
packages/*/lib
packages/*/dist
.idea
*/**/package-lock.json
*/**/debug.ts
*/**/config.js
*/**/.env

# playground
playground.ts

#docs
/docs
# ignore for deploy docs
yarn.lock

# coverage
coverage

*/**/umd
