.vscode/
node_modules/
*.log
packages/*/lib
.idea
*/**/package-lock.json
*/**/debug.ts
*/**/config.js
*/**/.env

# playground
playground.ts

#docs
/docs
# ignore for deploy docs
package-lock.json

# coverage
coverage

*/**/umd
