name: Bundle ckb.min.js

on:
  workflow_run:
    workflows: ['Unit Tests']
    branches: [master, develop]
    types: [completed]

jobs:
  default:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: 18

      - name: Restore
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install Lerna
        run: npm install -g lerna

      - name: Install Deps
        run: lerna bootstrap --mutex file:/tmp/.yarn-mutex --concurrency=1;

      - name: Compile
        run: |
          lerna run tsc
          npm run build:umd

      - name: Upload Files
        uses: actions/upload-artifact@v2
        with:
          name: ckb-sdk-js
          path: packages/ckb-sdk-core/umd/ckb-sdk.min.js
